.App {
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: space-around; /* Adjust alignment as needed */
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full height of the viewport */
  padding: 20px;
  align-items: flex-start;
}

/* .pokerTable {
  flex: 1; 
}

.cardsContainer {
  flex: 1;
} */
