h2 {
  padding-bottom: 30px;
}

.pokerTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
}

.tableBackground {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 250px;
  height: 50vh;
  border: 5px solid #90caf9;
  border-radius: 140px;
  position: relative;
  padding: 20px;
  justify-content: center;
}

.position-10DEAL {
  position: absolute !important;
  bottom: 0px !important;
}

.position-9CO {
  right: 0px;
  bottom: 15%;
  position: absolute !important;
}

.position-8RS {
  right: 0px;
  bottom: 40%;
  position: absolute !important;
}

.position-7UTG4 {
  right: 0px;
  bottom: 65%;
  position: absolute !important;
}

.position-6UTG3 {
  right: 0px;
  bottom: 90%;
  position: absolute !important;
}

.position-5UTG2 {
  bottom: 100%;
  position: absolute !important;
}

.position-4UTG1 {
  left: 0px;
  bottom: 90%;
  position: absolute !important;
}

.position-3UTG {
  left: 0px;
  bottom: 65%;
  position: absolute !important;
}

.position-SB {
  left: 0px;
  bottom: 40%;
  position: absolute !important;
}

.position-BB {
  left: 0px;
  bottom: 15%;
  position: absolute !important;
}